#envato_wishlist{

}
#envato_wishlist > div{
    display: none;
}
#envato_wishlist section{
    display: none;
}
#envato_wishlist section.completed{
    display: block;
}
#envato_wishlist section ul{
    display: none;
}
#envato_wishlist section h2{
    display: none;
}
#envato_wishlist section h3{

}
#envato_wishlist section.shown{
    display: block;
}
#envato_wishlist section.shown ul{
    display: block;
}
#envato_wishlist section.shown h2{
    display: block;
}
#envato_wishlist section.shown h3{
    display: none;
}