#envato_wishlist{

}
#envato_wishlist > div{
    display: none;
}
#envato_wishlist section{
    display: none;
}
#envato_wishlist section.completed{
    display: block;
}
#envato_wishlist section ul{
    display: none;
}
#envato_wishlist section h2{
    display: none;
}
#envato_wishlist section h3{

}
#envato_wishlist section.shown{
    display: block;
}
#envato_wishlist section.shown ul{
    display: block;
}
#envato_wishlist section.shown h2{
    display: block;
}
#envato_wishlist section.shown h3{
    display: none;
}

.envatosection{
    display: none;
}
.envatosection.active,
.envatosection.shown,
.envatosection.completed{
    display: block;
}

.envatosection .loading_anim{
    display: none;
}
.loading .loading_anim{
    display: block;
}
.loading .inner-content{
    display: none;
}
.envatosection .large-title{
    display: none;
}
.envatosection.active .large-title{
    display: block;
}
.envatosection.active .small-title{
    display: none;
}
.card .card-content .card-title{
    font-size: 17px;
    line-height: normal;
}
.search_results{
    clear:both;
}
.dropdown-content{
    z-index: 10000;
}

.card.medium .card-content{
    height:auto;
}
.card.medium .card-image{
    height:auto;
    max-height:143px;
}
[type="radio"]:not(:checked)+label, [type="radio"]:checked+label {
    padding-left: 22px;
}
[type="radio"]+label:before, [type="radio"]+label:after{
    margin: 4px 1px;
}
.item_card.like-no{
    opacity: 0.2;
}
.card.like-yes{
    box-shadow: 0 0px 12px 0 rgba(36,207,38,1),0 2px 10px 0 rgba(36,207,38,1);
}

.item_card .notes{
    font-size: 0.8em;
}
.item_card .price,
.item_card .sales,
.item_card .stars{
    font-size: 1.1em;
}
.item_card .price span,
.item_card .sales span,
.item_card .stars span{
    display: block;
    font-size: 0.9em;
}

.item_stats{
    padding-top: 37px;
}

.welcome_card .card-content{
    padding: 0 20px;
}
.welcome_card .card-image i{
    font-size: 7em;
}
[data-section="welcome"]{
    display: block;
}
[data-section="favlist"]{
    display: block;
}
[data-section="favlist"][data-count="0"]{
    display: none;
}
[data-section="item"].loading .collapsible-body,
[data-section="item"].shown .collapsible-body{
    min-height: 700px;
}

.rating-0{
    display: none;
}
.item_actions{
    padding: 21px 0;
}
.item_navigation{

}